accounts:
  - email: example@example.com
    password: abc-123
  - email: anotherexample@example.com
    password: 123-abc
lists:
  - email: example@example.com
    password: abc-123
    url: https://bsky.app/profile/example.bsky.social/lists/abc123
