accounts:
  example:
    email: example@example.com
    password: abc-123
  anotherexample:
    email: anotherexample@example.com
    password: 123-abc
lists:
  - account: example
    url: https://bsky.app/profile/example.bsky.social/lists/abc123
